
::-webkit-scrollbar { 
    display: none; 
}

html, body {
	background-color: #111;
}


h1, h6, a {
	vertical-align: baseline;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}




h1 {
	color: #eee;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	line-height: 1.2em;
	font-weight: 700;
	letter-spacing: -0.5px;
}

h6, a {
	color: #888;
	font-family: 'Open Sans', serif;
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.3px;
	line-height: 16px;
}

a:hover {
	color: #eee;
}


h1::selection {
  background: #aaa; /* WebKit/Blink Browsers */
}
h1::-moz-selection {
  background: #aaa; /* Gecko Browsers */
}

h6::selection {
  background: #aaa; /* WebKit/Blink Browsers */
}
h6::-moz-selection {
  background: #aaa; /* Gecko Browsers */
}

a::selection {
  background: #aaa; /* WebKit/Blink Browsers */
}
a::-moz-selection {
  background: #aaa; /* Gecko Browsers */
}


.logo-img {
	position: absolute;
	top: 16px;
}

.img-logo {
	height: 50px;

}

#nameGenerator {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}


/*#nameDisplay {
	padding: 10% 0;
}*/


.tweet-link a:hover {
	color: #fff;
	text-decoration: none;
}

/*#nameDisplay:hover {
	cursor: pointer;
}*/


#generator-page {
	height: 100vh;
    width: 100vw;
}

.msf-generator {
	text-align: center;
	font-size: 4em;
	line-height: 1em;
    text-transform: capitalize;
    hyphens: none;

}


@media screen and (max-width: 800px) {

	.msf-generator {
		font-size: 2.5em;
		hyphens: auto;
	}
}


@media screen and (max-width: 580px) {

	h1 { font-size: 2.45em; }

}

@media (min-width: 1680px) {
  	
  	h1 { font-size: 5em; }
}

