::-webkit-scrollbar { 
    display: none; 
}

html, body { 
	background-color: rgb(13,13,13); 
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

h1, h6, a {
	vertical-align: baseline;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 {
	color: #ddd;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	line-height: 1.2em;
	font-weight: 700;
	letter-spacing: -0.5px;
}

h6, a {
	color: #888;
	font-family: 'Open Sans', serif;
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.3px;
	line-height: 16px;
}

a:hover { color: #eee; }


h1::selection { background: #aaa; }
h1::-moz-selection { background: #aaa; }

h6::selection {  background: #aaa; }
h6::-moz-selection { background: #aaa; }

a::selection {  background: #aaa; }
a::-moz-selection {  background: #aaa; }

.logo-img {
	position: absolute;
	top: 50px;
}

.img-logo { 
	height: 50px; 
	opacity: 0.8;
}

#nameGenerator {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	overflow: hidden;
}

.texture-wrapper {
	background-image: url("../assets/noise.jpg");
	content: "";
	z-index: 1;
	position: fixed;
	/*specify height and width above and beyond the page header for movement*/
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.3;
	mix-blend-mode: overlay;
	overflow: hidden;
}


@keyframes grain {
	0%, 100% { transform:translate(0, 0) }
	10% { transform:translate(-5%, -10%) }
	20% { transform:translate(-15%, 5%) }
	30% { transform:translate(7%, -25%) }
	40% { transform:translate(-5%, 25%) }
	50% { transform:translate(-15%, 10%) }
	60% { transform:translate(15%, 0%) }
	70% { transform:translate(0%, 15%) }
	80% { transform:translate(3%, 35%) }
	90% { transform:translate(-10%, 10%) }
}

.tweet-link a:hover {
	color: #fff;
	text-decoration: none;
}

#generator-page {
	height: 100vh;
    width: 100vw;
}

.msf-generator {
	z-index: 12;
	text-align: center;
    text-transform: capitalize;
    filter: blur(0.6px);
    hyphens: none;
}


.copied-text-display {
	position: relative;
	display: inline-block;

}

.inner-text {
	visibility: hidden;
	background-color: #333;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
	width: 140px;
    z-index: 2;
    bottom: 130%;
    left: 50%;
    margin-left: 40px;
    transition: opacity 0.3s;
    opacity: 0;
}


.inner-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}


@media screen and (max-width: 800px) {

	.msf-generator {
		font-size: 2.5em;
		hyphens: auto;
	}
}


@media screen and (max-width: 580px) {

	h1 { font-size: 2.45em; }

}

@media (min-width: 1680px) {
  	
  	h1 { font-size: 5em; }
}

